html, body {
    background-image: url("blackjack-table.jpg");
    background-repeat: none;
    background-size: cover;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

button#new-deck {
    align-self: flex-start;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    margin: 5px;
}
button#new-deck:hover {
    background-color: #e7de35f6;
}
button#draw-cards {
    font-size: 25px;
    padding: 5px;
    align-self: stretch;
}
button#draw-cards:hover {
    background-color: #e7de35f6;
}

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: calc(200px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 15px;
}

.top {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
}
.top > h3 {
    margin: 0;
}
button:disabled {
    cursor: not-allowed;
}